<h1>Empires#show</h1>
<p>Find me in app/views/empires/show.html.erb</p>
<p><%= @empire.name %></p>
<% species = @empire.species %>
<p><%= species.archetype + ' ' + species.name + ": " + species.biography %></p>
<p><img src=<%= species.portrait %>></p>
